

/*_____________SEATS_SECTION_____________ */
.seats_wrap {
	width: max-content;
	margin: auto;
	display: grid;
	grid-template-columns: 136px 304px 136px;
	column-gap: 10px;

}

.checkbox_seat {
	position: absolute;
	opacity: 0;
}

.seat {
	display: inline-block;
	border: 1px solid dimgray;
	height: 50px;
	width: 50px;
	border-radius: 7px;
}

.hall-column {
	height: max-content;
	border: none;
}

.seat:hover,
.checkbox_seat:focus + .seat {
	cursor: pointer;
	border: 1px solid #ff9900;
}

.seat-example__item.checked .seat-example,
.checkbox_seat:checked + .seat {
	background-color: #ff9900;
}

.seat-example__item.disabled .seat-example,
.checkbox_seat:disabled + .seat {
	background-color: #DCDCDC;
}

.screenCinema {
	width: max-content;
	margin: auto;
}

.button-buy {
	display: block;
	margin: 30px auto 0px auto;
    background-color: #ff9900;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 15px;
    padding: 20px 30px;
}

.seat-example {
	display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 7px;
    border: 1px solid dimgray;
}

.seat-example-wrap {
    display: flex;
    justify-content: center;
}

.seat-example__item {
	display: flex;
	align-items: center;
    margin: 10px 15px;
    font-size: 23px;
}

/*_____________TIME_SECTION_____________ */

.time-button {
	font-size: 23px;
	border: none;
	color: inherit;
	background-color: transparent;
	transition: 0.3s linear;
}

.time-button:hover,
.time-button:focus {
	cursor: pointer;
	transform: scale(1.5);
}

.timesection__list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.timesection {
    padding: 5px 0;
    font-size: 23px;
    background: linear-gradient(to top, #FFFFFF, dimgray);
    color: black;
}

h3 {
	text-align: center;
}






/*

align-items: center;

.hall-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}







    


	
	


	grid-template-columns: repeat(9, minmax(30px, 80px));
	grid-gap: 10px;







#container {
	color: white;
	font-family: sans-serif;
	display: grid;
	grid-template-columns: repeat(5, minmax(50px, 200px));
	grid-gap: 10px;
}

*/


