

.seats_wrap {
	width: max-content;
	margin: auto;
	display: grid;
	grid-template-columns: 136px 304px 136px;
	column-gap: 10px;

}

.checkbox_seat {
	position: absolute;
	opacity: 0;
}

.seat {
	display: inline-block;
	border: 1px solid dimgray;
	height: 50px;
	width: 50px;
	border-radius: 7px;
}

.hall-column {
	height: max-content;
	border: none;
}

.seat:hover,
.checkbox_seat:focus + .seat {
	cursor: pointer;
	border: 1px solid #ff9900;
}

.checkbox_seat:checked + .seat {
	background-color: #ff9900;
}

.checkbox_seat:disabled + .seat {
	background-color: #DCDCDC;
}

.screenCinema {
	width: max-content;
	margin: auto;
}

.button-buy {
	display: block;
	margin: 30px auto 0px auto;
    background-color: #ff9900;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 15px;
    padding: 20px 30px;
}

.seat-example {
	display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 7px;
    border: 1px solid dimgray;
}



.seat-example-wrap {
    display: flex;

    justify-content: center;
}





/*

    align-items: center;


	
	


	grid-template-columns: repeat(9, minmax(30px, 80px));
	grid-gap: 10px;







#container {
	color: white;
	font-family: sans-serif;
	display: grid;
	grid-template-columns: repeat(5, minmax(50px, 200px));
	grid-gap: 10px;
}

*/


